@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;

  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
}

html {
  overflow-x: hidden;
}

/* body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
} */

body {
  background-color: #dee2e6;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1100px;
}
}

.users-entry-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: white;
    border-radius: 12px;
    margin-top: 5%;
    padding: 5%;
    flex-wrap: wrap;
}
/* Forms */
.new-users {
  position: relative;
}
.text-center {
  color: blueviolet;
}
.users-input-field {
  position: relative;
}
.users-inputs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.users-inputs .bx {
  font-size: 24px;
  /* margin-right: 1rem; */
}
.form-label {
  font-family: "Poppins", sans-serif;
}
input.form-control:focus {
  outline: none !important;
  border: 1px solid rebeccapurple !important;
  box-shadow: none;
}
.login-btn{
    padding: 7px 26px !important;
    font-size: 16px !important;
}
.entry-form h2 {
    font-weight: 800 !important;
    /* margin-bottom:  */
    text-align: center;
    color: blueviolet;
}
.login-logo{
    text-align: center;
}
.alternate-way{
    text-align: center;
}
.alternate-way a span{
    color: blueviolet;
    font-weight: 500;
}
.btn-primary:focus{
    outline: none !important;
    border: none !important;
    box-shadow: none;
}
.colorText {
    color: #0d6efd !important;
}
/* Forms */
